[Unit]
Description=Backend Service flask application
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/Backend
ExecStart=/home/ubuntu/venv/bin/python3 /home/ubuntu/Backend/app.py
Restart=always

[Install]
WantedBy=multi-user.target
